.store-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;

    width: 100%;
}


#filters {
    display: flex;
    flex-direction: column;
    background-color: var(--color-clair);
    border-radius: 10px;
    padding: var(--gap-12) var(--gap-4) var(--gap-4);
    gap: var(--gap-4);
    width: 100%;
}

.filter-title {
    margin-left: var(--gap-12);
    font-size: var(--font-size-28);
    font-weight: bold;
}

.filter {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: var(--gap-12) var(--gap-12);
    gap: var(--gap-12);
    border-bottom: 1px solid #ddd;

    input {
        background-color: var(--color-clair);
    }

    h3 {
        font-size: var(--font-size-24);
    }

    p { 
        font-size: var(--font-size-24);
        font-weight: 400;
    }

}


.dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
  }
  
  .dropdown-menu h3 {
    font-size: 1.1rem;
    margin: 0;
  }
  
  .filter-content {
    margin-top: 10px;
    animation: slideDown 0.25s ease;
  }

.slider-group input[type="range"] {
    -webkit-appearance: none; /* enlève le style natif */
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: var(--color-clair);
    outline: none;
    margin: 0;
    padding: 0;
  }

.slider-group input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--color-black);
    cursor: pointer;

  }


@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* UX simple pour le hover */
  .dropdown-menu:hover {
    color: var(--color-primary1);
  }
  
  .category p {
    padding: 4px 0;
    margin: 0;
  }
  
  input[type="text"] {
    width: 100%;
    margin-bottom: 8px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }