.store-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}


#filters {
    display: flex;
    flex-direction: column;
    background-color: var(--color-clair);
    border-radius: 10px;
    padding: var(--gap-12) var(--gap-4) var(--gap-4);
    gap: var(--gap-4);
}

.filter-title {
    margin-left: var(--gap-12);
    font-size: var(--font-size-28);
    font-weight: bold;
}

.filter {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: var(--gap-12) var(--gap-12);
    gap: var(--gap-12);

    input {
        background-color: var(--color-clair);
    }

}

.dropdown-menu {
    display: flex; 
    justify-content: space-between;

    button {
        appearance: none;
        background-color: transparent;
        border: none;
        transition: all 0.3 ease;

        &:hover {
            cursor: pointer;
            transform: scale(1.02);
        }
    }
}

.slider-group input[type="range"] {
    -webkit-appearance: none; /* enlève le style natif */
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: var(--color-clair);
    outline: none;
    margin: 0;
    padding: 0;
  }

.slider-group input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--color-black);
    cursor: pointer;

  }