.product-page {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  padding: 15vh 40px;
  align-items: flex-start;
}

.product-image {
  width: clamp(200px, 15vw, 20vw);
  object-fit: contain;
  padding: 10px;

  border: 3px solid var(--color-clair);
  border-radius: 15px;

}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;

  h1 {
    font-size: var(--font-size-40);
  }
}

.category {
    font-size: var(--font-size-28);
    font-weight: bold;
}


.container-to-buy, .container-infos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quantity {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    gap: 20px;
    width: 200px;
}

.quantity-button {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.quantity-button button {
    appearance: none;
    border: none;
    padding: 7px;
    font-size: var(--font-size-24);
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: var(--color-clair);
    }
}

.quantity-button p {
    font-size: var(--font-size-24);
    border: none;
    width: 50px;
}

.price {
  font-size: var(--font-size-32);
  font-weight: bold;
}

.container-buttons {
    display: flex;
    text-align: center;
    justify-items: center;
    gap: 20px;

    button {
        text-align: center;
        appearance: none;
        border: none;
        padding: 8px 16px;
        font-size: var(--font-size-24);
        border-radius: 8px;
        transition: all 0.3 ease;
        cursor: pointer;

    }

}

.add-to-cart {
    transition: all 0.3 ease;


    &:hover {
        background-color: var(--color-primary1);
        color: var(--color-white);
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.98);
    }
}

.shop-now {
    background-color: var(--color-secondary1);
    color: var(--color-white);
    transition: all 0.3 ease;

    &:hover {
        background-color: var(--color-secondary2);
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.98);
    }
}